collapse-color {
// @import "../../scss/default";

.header-collapse {
    color: white;
    font-size: 15px;
    padding: 3px 10px;
    margin-top: -1px;
}
.body-collapse {
    padding: 10px;
    color: $dark-obj;
    p {
        margin-bottom: 9px;
        font-size: 13px;
    
    }
}
.list-color {

    opacity: 0;
    margin: 0px;
    margin-bottom: 20px;
    color: $dark-obj;
    -webkit-box-shadow: 5px 3px 18px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 3px 18px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 3px 18px -3px rgba(0, 0, 0, 0.5);
 
    .date {
        text-align: center;
        padding: 3px;
        color: $dark-obj;
        h4{
            font-size: 25px;
            margin: 0;
            font-weight: bold;
        }
        h5{
            font-size: 13px;
            margin: 0;
        }
    }
    .titles {
        padding: 10px;
        color: $dark-obj;
        h4{
            font-size: 13px;
            margin: 0;
            margin-bottom: 5px;
        }
        h5{
            font-size: 13px;
            font-style: italic;
            margin: 0;
            font-weight: bold;
        }
    }
    hr {
        width: 2px;
        height: 41px;
        background-color: lightgrey;
        margin-top: 10px;
        margin-bottom: -10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

// COLORS
.blue {
    .date {
    border-left: 5px solid $third-obj;
    }
    .header-collapse{
        background-color: $third-obj;;
    }
    .body-collapse{
        border-left: 5px solid $third-obj;
    }    
}
.green {
    .date {
    border-left: 5px solid $green-obj;
    }
    .header-collapse{
        background-color: $green-obj;;
    }
    .body-collapse{
        border-left: 5px solid $green-obj;
    }    
}
.orange {
    .date {
    border-left: 5px solid $orange-obj;
    }
    .header-collapse{
        background-color: $orange-obj;;
    }
    .body-collapse{
        border-left: 5px solid $orange-obj;
    } 
}
.red {
    .date {
    border-left: 5px solid $red-obj;
    }
    .header-collapse{
        background-color: $red-obj;;
    }
    .body-collapse{
        border-left: 5px solid $red-obj;
    } 
}
}
