
$primary-obj: #084688; 
$secound-obj: #144EA0;
$third-obj: #3679B6;
$primary-light-obj: #D6E2EA; 


$green-obj: #99CC48;
$red-obj:  #FF5252;
$yellow-obj: #FFF205;
$orange-obj: #FFCB00;
$dark-obj: #606060;
$dark-light-obj: #EAEAEA;

$obj-provas : #2B3D4E;



%gradiente {
background: #084688; /* Old browsers */
background: -moz-linear-gradient(left, #084688 0%, #144ea0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #084688 0%,#144ea0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #084688 0%,#144ea0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#084688', endColorstr='#144ea0',GradientType=1 ); /* IE6-9 */
}

%gradiente-opacity {
    background: #084688; /* Old browsers */
    background: -moz-linear-gradient(left, #084688dc 0%, #144ea0dc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #084688dc 0%,#144ea0dc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #084688dc 0%,#144ea0dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#084688', endColorstr='#144ea0',GradientType=1 ); /* IE6-9 */
    }

%gradiente-menu {
    background: #3679b6; /* Old browsers */
    background: -moz-linear-gradient(top, #3679b6 23%, #084688 96%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3679b6 23%,#084688 96%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3679b6 23%,#084688 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3679b6', endColorstr='#084688',GradientType=0 ); /* IE6-9 */
}



// CORES OBJETIVO PROVAS

$plataform-color-1: #2B3D4E;
$plataform-color-2: #1275A0;
$plataform-color-3: #2097C2;
$plataform-color-4: #1486C6;
$plataform-color-5: #EA9421;
$plataform-color-6: #E23A33;
$plataform-color-sidebar: #374B59;

$Color-util-sucess: #2DA82D;
$Color-util-warning: #EDBD35;
$Color-util-error: #E23A33;



//Provas
$proof-color-1: #E4585F;
$proof-color-2: #AA5E62;
$proof-color-3: #C74F43;

//Conteúdo
$content-color-1: #07A9DD;
$content-color-2: #508EB4;
$content-color-3: #40748E;

//Tarefa
$assignment-color-1: #F9C646;
$assignment-color-2: #D7C04D;
$assignment-color-3: #D4A74C;

//Video
$video-color-1: #39A857;
$video-color-2: #6BA96D;
$video-color-3: #5D8B5D;

//Resolução
$resolucao-color-1: #EA772A;
$resolucao-color-2: #D96C23;

//Jogos
$jogos-color-1: #9763A3;
$jogos-color-2: #9B76AF;

//Texto de apoio
$apoio-color-1: #EA6A98;
$apoio-color-2: #DE789C;

