<div class="row circle-father">
    <div class="circle-progress" [attr.color]="color">
        <div class="circle-progress__circle">
          <div class="circle-progress__mask js-radial-mask">
            <div class="circle-progress__fill js-radial-fill"></div>
          </div>
          <div class="circle-progress__mask">
            <div class="circle-progress__fill js-radial-fill"></div>
            <div class="circle-progress__fill js-radial-fix"></div>
          </div>
        </div>
        <div class="circle-progress__inset">
          <div class="circle-progress__percent js-radial-percent">
              {{ percent }}
          </div>
        </div>
      </div>
  </div>
  
    <!-- pre-loader -->
    <!-- <div class="lds-roller">
        <div></div>
            <div></div>
                <div></div>
                    <div></div>
                        <div></div>
                            <div></div>
                                <div></div>
    </div> -->
    <!-- pre-loader -->
  