
@import "../../app/scss/default";

page-calendario {
  .calendar-col {
    &.select, &.today {
      background: $primary-obj !important;
      box-shadow: inset 0 0 10px $primary-obj !important;
    }
  }

  .no-events {
    font-size: 16px;
  }

  ion-icon {
    display: inline-block;
    font-size: 3.2em;
  }

  ion-col {
    &.col {
      div {
        font-size: 16px;
        margin: 0px 20px;
        position: relative;
        top: 5px;
        font-weight: bold;
        color: $primary-obj;
      }
    }
  }

  .ion-ios-arrow-forward:before {
    color: $primary-obj !important;
  }

  [class*="arrow-back"] {
    color: $primary-obj !important;
    left: -10px;
    top: 16px;
  }

  [class*="arrow-back"]:before {
    color: $primary-obj !important;
    box-shadow: none;
    top: -2px;
    transform: rotate(-45deg);
    box-shadow: inset 0 0 0 32px;
  }
  

  .ion-ios-arrow-forward:before {
    content: "\203A" !important;
    font-size: 50px;
    top: -11px;
    position: relative;
  }

  .ion-md-arrow-forward:before {    
    color: $primary-obj !important;
  }

  ion-calendar  {
    font-family: 'Roboto';
  
    .calendar-row .eventBlip {
      background: #FFF205 !important;
      border: 1px solid #BBB;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      right: 2px;
      top: 2px;
    }
  }

  [col-auto] {
    left: 10px;
  }

  
.list-event {
  background-color: $primary-light-obj;
  padding: 0px 15px;
  margin-bottom: 50px;
}
.list-color {
    margin: 7px 0px;
    color: $dark-obj;
    background-color: white;
    .date {
        text-align: center;
        padding: 3px;
        h4{
            font-size: 25px;
            margin: 0;
            font-weight: bold;
        }
        h5{
            font-size: 13px;
            margin: 0;
        }
    }
    .titles {
        padding: 10px;
        h4{
            font-size: 13px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 5px;
        }
        h5{
            font-size: 13px;
            margin: 0;
        }
    }
    hr {
        width: 2px;
        height: 41px;
        background-color: lightgrey;
        margin-top: 10px;
        margin-bottom: -10px;
        margin-left: 10px;
        margin-right: 10px;
    }
  }

  .title-events-today {
    display: block;
    width: 100%;
  }

  .list-event {
    background: $white;
  }

  .title-events-today {
    color: $primary-obj;
  }
  

  // COLORS
  .green .date {
    border-left: 5px solid $green-obj;
  }
  .orange .date {
    border-left: 5px solid $orange-obj;
  }
  .red .date {
    border-left: 5px solid $red-obj;
  }
  .blue .date {
    border-left: 5px solid $third-obj;
  }
}

.platform-ios [class*="arrow-back"] {
  position: absolute;
  left: -13px;
  top: 32%;
  color: transparent !important;
  width: 0;
  height: 0;
  transform: rotate(0deg);
}

.platform-ios [class*="arrow-back"]:before {
  content: "\2039";
  color: $primary-obj !important;
  box-shadow: none;
  top: -28px;
  left: 0px;
  font-size: 50px;
  transform: rotate(0deg);
}

.platform-ios page-calendario ion-col.col div {
  top: 5px;
  font-family: Roboto;
}