

<nav class="navdown fixed-bottom">
    <div class="row icons">
  
      <a class="col">
        <ion-icon name="ico-home" (click)="redirecionar('home')" class="active"></ion-icon>
      </a>
  
      <a class="col">
          <ion-icon name="ico-notas" (click)="redirecionar('notas')"></ion-icon>
      </a>
  
      <a class="col">
          <ion-icon name="ico-calendario" (click)="redirecionar('calendario')"></ion-icon>
      </a>
  
      <a class="col">
          <ion-icon name="ico-logoCO" (click)="redirecionar('conteudo')"></ion-icon>
      </a>
  
      <a class="col" > 
          <ion-icon name="ico-financeiro" (click)="redirecionar('financeiro')"></ion-icon>
      </a>
     
    </div>
        
  </nav>
 
  
        
        
      
      